.main-page {
    display: flex;
    flex-direction: row;
}

.user-container {
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    margin: 25px;
    width: 40%;
    height: 900px;
}

.calendar-container {
    background-color:coral;
    margin: 25px;
    width: 60%;
}