.main-page {
    display: flex;
    flex-direction: row;
}

.user-container {
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    margin: 50px;
    width: 30%;
    height: 900px;
}

.calendar-container {
    background-color:coral;
    margin: 50px;
    width: 70%;
}