// Place all the styles related to the Shifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.shift-dashboard {
    width: 60%;
}

.shift-container {
    margin: 5px 0 5px 0;
    border: 1px black solid;
}
.shift-header {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.shift-item {

    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 2px 0;
}

.shift-item > li {
    margin: 5px;
    width: 150px;
}

.shift-item > li > label {
    margin: 0 0 5px 0;
    border-bottom: 1px black solid;
}