// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.on-call-container {
    margin: 15px 0 0 0;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 3px solid black;
}

.on-call-container > ul > li {
    margin: 15px 0 0 0;
    font-size: 20px;
    padding: 0 0 10px 0;
}

.user-dashboard {
    width: 500px;
    padding: 0 20px 0 20px;
}

.user-list {
    margin: 20px 0 7px 0;
    border-bottom: 3px solid black;
    padding: 0 0 20px 0;
}

.user-list > li {
    font-size: 15px;
    margin: 10px 0 0 0;
}

