// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.on-call-container {
    background-color: cornflowerblue;
    margin: 15px 0 0 0;
}

.user-dashboard {
    width: 300px;
}

.user-list {
    margin: 20px 0 10px 0;
}